[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nidaqmx = "*"
schedule = "*"
pandas = "*"
matplotlib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
